{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Reviews plugin for Craft CMS 3.x
 *
 * Reviews index.twig
 *
 * @author    Kurious Agency
 * @copyright Copyright (c) 2019 Kurious Agency
 * @link      https://kurious.agency
 * @package   Reviews
 * @since     0.0.1
 */
#}


{% extends "_layouts/elementindex" %}

{% set title = "Reviews"|t('reviews') %}

{% set elementType = 'kuriousagency\\reviews\\elements\\Review' %}

{% block actionButton %}
<div class="btngroup">
    <a type="submit" class="btn submit add icon" href="{{ url('reviews/new') }}">New General Review</a>
    <div class="btn submit menubtn"></div>
    <div class="menu">
        <ul>
            {% for source in sources[2:] %}
                <li>
                    <a class="" href="{{ url('reviews/new/' ~ source.key|replace('\\','-'))|lower }}">New {{ source.label|trim('s','right') }}</a>
                </li>
            {% endfor %}                    
        </ul>
    </div>
</div>
{% endblock %}
